{% extends 'main/layout.html' %}
{% load static %} 
{% block title %}О компании{% endblock title %}
{% block content %}
<div class="container mt-5" style="padding: 50px 0;"> <!-- Добавлены отступы -->
    <h1 class="text-center">О нашей компании</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://urgaps.ru/uplfile/news_image/manager.jpg" alt="Фотография компании" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2>Добро пожаловать в наш оптовый интернет-магазин!</h2>
            <p>
                Мы — ведущий оптовый интернет-магазин, предлагающий широкий ассортимент товаров по конкурентоспособным ценам. Наша компания была основана с целью предоставить клиентам качественные продукты и отличный сервис. Мы работаем напрямую с производителями, что позволяет нам предлагать лучшие цены на рынке.
            </p>
            <p>
                Наша команда состоит из опытных профессионалов, которые готовы помочь вам с выбором товаров и ответить на все ваши вопросы. Мы ценим каждого клиента и стремимся к долгосрочному сотрудничеству. Мы предлагаем гибкие условия для оптовых покупателей и индивидуальный подход к каждому заказу.
            </p>
            <p>
                Мы гордимся тем, что можем предложить нашим клиентам не только качественные товары, но и надежную доставку, а также поддержку на всех этапах покупки. Присоединяйтесь к нам и убедитесь в этом сами!
            </p>
        </div>
    </div>
</div>
{% endblock content %}