{% extends 'main/layout.html' %}
{% block title %}Оформление заказа{% endblock title %}

{% block content %}
<div class="container mb-5 mt-5">
    <h2 class="text-center mb-5">Оформление заказа</h2>

    <form method="POST">
        {% csrf_token %}
        <h3>Выберите адрес для доставки</h3>
        <select name="address_id" class="form-control mb-3">
            {% for address in addresses %}
                <option value="{{ address.id }}">{{ address }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">Подтвердить заказ</button>
    </form>
</div>
{% endblock content %}