{% extends 'main/layout.html' %}
{% load static %} 

{% block title %}Подкатегории: {{ category.name }}{% endblock title %}

{% block content %}
<div class="container mb-5 mt-5">
    <h2 class="text-center mb-5">Подкатегории: {{ category.name }}</h2>
    <div class="row">
        {% for subcategory in subcategories %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">  <!-- Адаптивные колонки для разных экранов -->
                <div class="card mb-4 shadow-sm" style="height: 300px;">  <!-- Установлена фиксированная высота карточек -->
                    <div class="card-body d-flex flex-column">  <!-- Используем flexbox для вертикального выравнивания -->
                        <h5 class="card-title">{{ subcategory.name }}</h5>
                        <p class="card-text flex-grow-1">{{ subcategory.description }}</p>  <!-- Позволяем описанию занимать оставшееся пространство -->
                        <a href="{% url 'product_list' subcategory.id %}" class="btn btn-primary mt-auto">Перейти к товарам</a>  <!-- Ссылка на товары подкатегории -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}