{% extends 'main/layout.html' %}
{% load static %} 

{% block title %}Подкатегории: {{ category.name }}{% endblock title %}

{% block content %}
<div class="container mb-5 mt-5">
    <h2 class="text-center mb-5">Подкатегории: {{ category.name }}</h2>
    <div class="row">
        {% for subcategory in subcategories %}
            <div class="col-sm-4">  <!-- Измените на нужное количество колонок -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ subcategory.name }}</h5>
                        <p class="card-text">{{ subcategory.description }}</p>
                        <a href="{% url 'product_list' subcategory.id %}" class="btn btn-primary">Перейти к товарам</a>  <!-- Ссылка на товары подкатегории -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}